<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nummus in Croesi divitiis obscuratur, pars est tamen divitiarum. Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem posse videamur?</p>
<p>Legimus tamen Diogenem, Antipatrum, Mnesarchum, Panaetium, multos alios in primisque familiarem nostrum Posidonium. Sed virtutem ipsam inchoavit, nihil amplius. Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat. Immo videri fortasse.</p>
<p>Videsne quam sit magna dissensio? Terram, mihi crede, ea lanx et maria deprimet. Claudii libidini, qui tum erat summo ne imperio, dederetur. Itaque e contrario moderati aequabilesque habitus, affectiones ususque corporis apti esse ad naturam videntur. Cum audissem Antiochum, Brute, ut solebam, cum M. Ut in geometria, prima si dederis, danda sunt omnia.</p>
<p>Illud dico, ea, quae dicat, praeclare inter se cohaerere. Videmusne ut pueri ne verberibus quidem a contemplandis rebus perquirendisque deterreantur? In qua quid est boni praeter summam voluptatem, et eam sempiternam? Huius ego nunc auctoritatem sequens idem faciam. Universa enim illorum ratione cum tota vestra confligendum puto. Tibi hoc incredibile, quod beatissimum. Itaque rursus eadem ratione, qua sum paulo ante usus, haerebitis. Sapientem locupletat ipsa natura, cuius divitias Epicurus parabiles esse docuit. Hoc Hieronymus summum bonum esse dixit.</p>
<p>Beatus sibi videtur esse moriens. Quamvis enim depravatae non sint, pravae tamen esse possunt. Haec dicuntur inconstantissime. Tertium autem omnibus aut maximis rebus iis, quae secundum naturam sint, fruentem vivere. Duo Reges: constructio interrete. Quid enim de amicitia statueris utilitatis causa expetenda vides.</p>
<p>&nbsp;</p>
<p><img src="https://s3-eu-west-1.amazonaws.com/{{ s3_website_bucket_name }}/lambda-all-the-things.jpg" alt="lambda" width="400" height="300" /></p>
